{{#info}}
    <div class="info">
        <h3>{{year}}, aged {{age}}</h3>
        <ul>
            {{#films}}
                <li class="info__film">
                    {{#oscar}}<img src="assets/imgs/oscar.png" class="info__film__oscar" /> {{oscar}} -{{/oscar}}
                    {{name}} - {{rating}}
                </li>
            {{/films}}
        </ul>
    </div>
{{/info}}

<div class="header">
    <h1>Academy Awards &mdash; Best director</h1>
    <p>{{step.copy}}</p>
    {{#stepNo > 0}}
        <button on-click="step:-1">Prev</button>
    {{/stepNo}}
    {{#stepNo < steps.length - 1}}
        <button on-click="step:1">Next</button>
    {{/stepNo}}
    <p>
        <span class="key">
            {{#ratings}}
                <span class="key__rating" style="background-color: #000"><p>{{this}}</p></span>
            {{/ratings}}
            = IMDb rating
        </span>
        <span class="key">
            <span class="key__rating" style="background-color: #e48600"></span> = Oscar winner
        </span>
    </p>
</div>

<div class="sidebar">
    <div class="scrollable" id="sidebar">
        {{#directors:i}}
            <div class="director director__name{{#hide}} is-hidden{{/hide}}">
                <img src="assets/imgs/flags/{{birthPlace}}.svg" class="director__flag" /> {{name}}
            </div>
        {{/directors}}
    </div>
</div>

<div class="main{{#step.collapsed}} is-collapsed{{/step.collapsed}}">
    {{#directors:directorNo}}
        <div class="director{{#hide}} is-hidden{{/hide}}">
            <div class="director__life{{#dead}} director__life--dead{{/dead}}"
                 style="left: {{directorX(this)}}px; width: {{yearX(age + 1)}}px">
                <span class="director__life__spacer"></span>
                {{#year:yearNo}}
                    <span on-mouseover="hoverOver" on-mouseout="hoverOut"
                         class="director__life__year{{#oscar}} director__life__year--oscar{{/oscar}}"
                         style="height: {{rating}}%; margin-left: {{yearX(gap)}}px">
                    </span>
                {{/year}}
            </div>
        </div>
    {{/directors}}
</div>
