{{#isWeb}}
<header class="header">
    <h1>The perfect age to direct</h1>
    <h2>according to the Oscars</h2>
    <p>
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
    </p>
    <p class="header__byline">
        By <a href="http://www.theguardian.com/profile/george-arnett">George Arnett</a>,
        <a href="http://www.theguardian.com/profile/troy-griggs">Troy Griggs</a> and 
        <a href="http://www.theguardian.com/profile/will-franklin">Will Franklin</a>
    </p>
    <p class="header__date">
        Friday 20th Feburary 2015 10:00 GMT
    </p>
</header>
{{/isWeb}}

<div class="headline">
    <h2>Are the nominees the right age to win?</h2>
    <p>List of nominees for this year</p>
</div>
<div class="nominees">
    <timeline collapsed="true" maxAge="60" hlStart="40" hlSpan="10" directorIds="{{nomineeIds}}" directors="{{nominees}}" view="birth" />
</div>

{{#steps:stepNo}}
    <div class="step-{{stepNo}}">
        <div class="headline">
            <h2>{{headline}}</h2>
            <p>{{copy}}</p>
        </div>
        {{#if stepNo == 2}}
            <div class="compare" style="margin-bottom: 200px">
                <div class="compare__year">1972</div>
                <div class="compare__film compare__film--left">
                    <div class="compare__film__name">Cabaret</div>
                    <div class="compare__film__director">Bob Fosse</div>
                    <img src="https://placekitten.com/289/209" />
                    <div class="compare__film__rating">5.1</div>
                </div>
                <div class="compare__film compare__film--right">
                    <div class="compare__film__name">Cabaret</div>
                    <div class="compare__film__director">Bob Fosse</div>
                    <img src="https://placekitten.com/289/209" />
                    <div class="compare__film__rating">5.1</div>
                </div>
            </div>
        {{else}}
            <timeline notes="{{notes}}" collapsed="{{collapsed}}" maxAge="100" hlStart="40" hlSpan="10" directorIds="{{directorIds}}" directors="{{winners}}" view="{{view}}" />
        {{/if}}
    </div>
{{/steps}}

{{#info}}
    <div class="info" style="left: {{x}}px; bottom: {{y}}px">
        <span class="info__year">{{year}}</span>
        <span class="info__age">{{age}} years old</span>
        <table class="info__films">
            {{#films}}
                <tr {{#oscar}}class="info__films__oscar"{{/oscar}}>
                    <td>{{name}}</td>
                    <td class="info__films__rating">{{rating}}</td>
                </tr>
            {{/films}}
        </table>
    </div>
{{/info}}
