<div class="main{{#collapsed}} is-collapsed{{/collapsed}}">
    <div class="timeline"{{#view != 'birth'}} style="display: none"{{/view}}>
        Age
        <span class="timeline__hl" style="left: {{hlStart * yearw}}%; width: {{hlSpan * yearw}}%"></span>
        {{#timeline}}
            {{#this <= maxAge}}
                <span class="timeline__label" style="left: {{this * yearw}}%">{{this}}</span>
            {{/maxAge}}
        {{/timeline}}
    </div>

    {{#directorIds}}
        {{#directors[directorId]}}
            <div class="director">
                <span class="director__info">
                    <div class="director__info__name">{{name}}</div>
                    <div class="director__info__birth">{{birth}} - {{death}}</div>
                </span>
                <span class="director__life{{#death}} director__life--dead{{/death}}"
                     style="left: {{-scale[view] * yearw}}%; width: {{(end - birth + 1) * yearw}}%">
                </span>
                {{#death}}
                    <span class="director__active" style="left: {{(-scale[view] + end - birth + 1) * yearw}}%">
                        Directed for {{active}} years
                    </span>
                {{/death}}
                {{#year}}
                    <span on-mouseover="hoverOver:{{this}},{{birth}}"
                          class="director__year{{#oscar}} director__year--oscar{{/oscar}}{{#view == 'oscar' && (yearNo - birth - scale[view]) < 50}} director__year--pre-oscar{{/view}}"
                          style="height: {{rating}}%; left: {{(yearNo - birth - scale[view]) * yearw}}%; width: {{yearw}}%">
                        {{#notes[directorId][yearNo]}}
                            <span class="director__year__note{{#left}} director__year__note--left{{/left}}">
                                <img src="{assets}/imgs/posters/{{img}}" /> {{{note}}}
                            </span>
                        {{/notes}}
                    </span>
                {{/year}}
            </div>
        {{/directors}}
    {{/directorIds}}
</div>
