.header__timeline {
    position: absolute;
    border-bottom: 1px solid #333;
    bottom: 0;
    left: 0;
    right: 0;
    height: $rowHeight;
    line-height: $rowHeight;
}

.header__timeline__label {
    position: absolute;
    border-left: 1px solid #333;
    padding-left: ($gutter / 2);
}

.header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    height: $headerHeight;
    box-sizing: border-box;
    background-color: white;
    padding: $gutter $gutter 0;
    border-bottom: 1px solid map-get($pasteup-palette, neutral-1);
}

.key {
    padding-left: $gutter;
}

.key__rating {
    display: inline-block;
    width: $boxWidth;
    height: ($rowHeight / 2);
    vertical-align: middle;

    & > p {
        margin-top: ($rowHeight / 2 + 2px);
    }
}
