$arrow-size: 10px;
$bg-color: white;//map-get($pasteup-palette, neutral-8);
$border-color: map-get($pasteup-palette, neutral-5);

@mixin info-arrow($color, $size) {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: $size solid transparent;
    border-left: 0;
    border-right-color: $color;
    bottom: 20px;
    right: 100%;
    margin-bottom: -$size;
}

.info {
    @include fs-data(3);
    margin-left: $arrow-size;
    position: absolute;
    padding: 10px;
    background-color: $bg-color;
    z-index: 2;
    border: 1px solid $border-color;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px map-get($pasteup-palette, neutral-5);
    pointer-events: none;
    margin-bottom: -18px;
    width: 200px;

    display: none;
    @media (min-width: gs-span(8)) {
        display: block;
    }

    &::before {
        @include info-arrow($border-color, $arrow-size);
    }
    &::after {
        @include info-arrow($bg-color, $arrow-size - 1px);
    }
}

.info__age {
    float: right;
    font-weight: bold;
    line-height: 20px;
}

.info__year {
    @include fs-data(5, $size-only: true);
    float: left;
    font-weight: bold;
    padding: 0 $gs-gutter $gs-baseline 0;
}

.info__films {
    clear: both;
    margin: 0;
    border: 0;
    border-collapse: collapse;
    border-top: 1px solid map-get($pasteup-palette, neutral-4);
    width: 100%;

    tr {
        border-bottom: 1px dotted map-get($pasteup-palette, neutral-4);
        &:last-child {
            border-bottom: 0;
        }
    }

    td, th {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    th {
        text-align: left;
        white-space: nowrap;
        color: map-get($pasteup-palette, neutral-4);
        @include fs-data(1, $size-only: true);
    }
}

.info__films--top::after,
.info__films--oscar::after {
    display: inline-block;
    vertical-align: middle;
    background-color: map-get($pasteup-palette, guardian-brand);
    content: "";
    margin-left: 3px;
    margin-top: -2px;
    border-radius: 5px;
    width: 8px;
    height: 8px;
}

.info__films--oscar::after {
    background-color: $oscarColor;
}

.info__films__rating {
    padding-left: $gs-gutter;
    white-space: nowrap;
    text-align: right;
    vertical-align: top;
    &::after {
        @include fs-data(1);
        color: map-get($pasteup-palette, neutral-3);
        content: "/10";

    }
}
