.info {
    position: fixed;
    padding: 10px;
    background-color: white;
    top: ($headerHeight + $gutter);
    right: $gutter;
    width: 400px;
    z-index: 2;
    border: 1px solid #bdbdbd;
}

.info__film {
    padding: ($gutter / 2) 0 0;
}

.info__film__oscar {
    vertical-align: middle;
    width: 20px;
}
