$gutter: 10px; // TODO: remove

.info {
    position: absolute;
    padding: 10px;
    background-color: white;
    width: 400px;
    z-index: 2;
    border: 1px solid map-get($pasteup-palette, neutral-2);
}

.info__film {
    padding: ($gutter / 2) 0 0;
}

.info__film__oscar {
    vertical-align: middle;
    width: 20px;
}
