.sidebar {
    position: fixed;
    z-index: 2;
    top: $headerHeight;
    left: 0;
    bottom: 0;
    width: $sidebarWidth;
    background-color: white;
    border-right: 1px solid map-get($pasteup-palette, neutral-1);
    overflow: hidden;
}

.director {
    position: relative;
    height: $rowHeight;
    line-height: $rowHeight;

    border-bottom: 1px solid map-get($pasteup-palette, neutral-6);
    &:last-child {
        border-bottom: 0;
    }

    &.is-hidden {
        display: none;
    }
}

.director__name {
    padding-left: $gutter;
}

.director__flag {
    width: 25px;
    height: ($rowHeight - $gutter);
    vertical-align: middle;
    padding-right: ($gutter / 2);
}

.director__life {
    position: absolute;
    top: 0;
    height: 100%;
    font-size: 0;
    transition: left 0.3s ease-out;

    &::before, &::after {
        position: absolute;
        background-color: map-get($pasteup-palette, neutral-1);
        top: 50%;
    }

    &::before {
        content: "";
        height: 1px;
        left: 0;
        width: 100%;
    }
}

$life-dot: 11px;

.director__life--dead::after {

    content: "";
    border-radius: 100px;
    right: -($life-dot / 2);
    width: $life-dot;
    height: $life-dot;
    margin-top: -($life-dot / 2);
}

.director__life__spacer {
    display: inline-block;
    vertical-align: middle;
    margin: (($rowHeight - $life-dot) / 2) 0;
    height: $life-dot;
    border-left: 1px solid map-get($pasteup-palette, neutral-1);
}

.director__life__year {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
    width: ($boxWidth - 1px);
    margin-right: 1px;
    background-color: map-get($pasteup-palette, guardian-brand);

    transition: height 0.2s ease-out;

    .is-collapsed & {
        height: 30% !important;
    }
    .is-hidden & {
        height: 0% !important;
    }
}

.director__life__year--oscar {
    background-color: #e48600;

    .is-collapsed & {
        height: 50% !important;
    }
}
