$rowHeight: 50px;
$boxWidth: 8px;
$sidebarWidth: 220px;
$life-dot: 11px;

body,
.interactive {
    margin: 0,
}

h3 {
    font-weight: normal;
    margin: 0;
}

.button[disabled] {
    opacity: 0.5;
}

.arrow-right {
    margin-left: 5px;
    vertical-align: middle;
}

.arrow-left {
    margin-right: 5px;
    vertical-align: middle;
}

.main {
    position: relative;
}

.director {
    height: $rowHeight;
    padding-left: 100px;
    font-size: 0;

    border-bottom: 1px solid map-get($pasteup-palette, neutral-6);
    &:last-child {
        border-bottom: 0;
    }

    &.is-hidden {
        display: none;
    }
}

.director__life {
    position: relative;
    display: inline-block;
    height: 100%;
    transition: margin-left 0.3s ease-out;

    &::before, &::after {
        position: absolute;
        background-color: map-get($pasteup-palette, neutral-1);
        top: 50%;
    }

    &::before {
        content: "";
        height: 1px;
        left: 0;
        width: 100%;
    }
}

.director__life--dead::after {
    content: "";
    border-radius: 100px;
    right: -($life-dot / 2);
    width: $life-dot;
    height: $life-dot;
    margin-top: -($life-dot / 2);
}

.director__life__name {
    @include fs-data(3);
    line-height: $rowHeight;
    position: absolute;
    right: 100%;
    white-space: nowrap;
    padding-right: 10px;
}

.director__life__spacer {
    display: inline-block;
    vertical-align: middle;
    margin: (($rowHeight - $life-dot) / 2) 0;
    height: $life-dot;
    border-left: 1px solid map-get($pasteup-palette, neutral-1);
}

.director__life__year {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
    width: ($boxWidth - 1px);
    margin-right: 1px;
    background-color: map-get($pasteup-palette, guardian-brand);

    transition: height 0.3s ease-out;

    .is-collapsed & {
        height: 20% !important;
    }
    .is-hidden & {
        height: 0% !important;
    }
}

.director__life__year--oscar {
    background-color: #e48600;

    .is-collapsed & {
        height: 50% !important;
    }
}
